# @darkhan-s Ignore large amount of pdf files,  datasets, logs and sketches
Referenced documents/
pumps/
misc/
bin/
output/
output*/
slurm*.txt
slurm*.out
temp*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
**/__pycache__/


ttest
*.weights
*.pth
*.onnx
*.engine
*.pyc
*.infer
*.npy

z_demo_*

__pycache__
.idea
.vscode
runs
log

#*.jpg
#!demo.jpg
*.json
data/outcome

.nfs*
*.ipynb
*.pyc
.dumbo.json
.DS_Store
.*.swp
*.pth
**/__pycache__/**
.ipynb_checkpoints/
datasets/data/
experiment-*
*.tmp
*.pkl
**/.mypy_cache/*
.mypy_cache/*
not_tracked_dir/
.vscode