<!DOCTYPE html>
<html>
<head>
	<title>Equpment detection</title>
	<link rel="stylesheet" type="text/css"  href="{{url_for('static',filename='styles/app.css')}}">
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=2.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body
style="color: #000000">

	<nav>
		<ul>
			<li>Equipment recognizer</li>
			<li><a href="https://www.mogroup.com/">M:O</a></li>
		</ul>
	</nav>
	<div class="body">
		
		<img class="pytorch" src="{{url_for('static',filename='images/pytorch-logo.png')}}" alt="pyy" style="display: flex">
		<h2>Upload an image of a spare part</h2>
		<div class="row">
			<div class="column">
				<p>Original image: </p>
				<img src="{{user_image}}" alt="User Image" style="display: flex" onerror="this.onerror=null; this.remove();">
			</div>
			<div class="column">
				<p>Predictions: </p>
				<img src="{{return_image}}" alt="Predictions" style="display: flex" onerror="this.onerror=null; this.remove();">
			</div>
		</div>
		
		
		<form method="POST" enctype=multipart/form-data>
			<dl>
				<p>
					<input type="file" name="file" autocomplete="off" required>
				</p>
			</dl>
			<input type="submit" name="upload">
		</form>
		
	</div>
	<!-- <footer>
        <div class="footer">
			© 2022 Darkhan Saidnassimov, Aalto University
        </div>
    </footer> -->
	<div class="footerholder">
		<div class="footer">
			<p style="color: white;">© 2022 Darkhan Saidnassimov, Aalto University</p>
		</div>
	</div>

		
</body>
</html>